node_modules/
dist/
__pycache__/
build/
venv/
.venv/
.env
citations.db
citations1.db
citations2.db
package-lock.json
package.json
OpenSans.ttf
main.py
index.spec
.streamlit/config.toml
*.pyc
.DS_Store
